In [1]:
%%HTML
<link rel="stylesheet" href="https://doc.splicemachine.com/jupyter/css/custom.css">

# Database Setup

Our first step to creating our IoT program is to set up a database by creating a table into which data will be ingested and to populate additional supporting tables; we'll do this in the following three steps:

* Create schema
* Create tables
* Load data for static(non streaming) tables

You only need to run this notebook one time.

## Create the Schema

We first create the `IOTDEMO` schema in our Splice Machine database:

In [ ]:
%%sql 
create schema IOTDEMO;

## Create Tables

Next we create the tables that we need for this demo; each of these is created within our `IOTDEMO` schema:

<table class="splicezepOddEven">
    <thead>
        <tr>
            <th>Table Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>localmap</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>zones</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>zonegroup</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>store</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>warehouse</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>locations</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>items</code></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><code>itemflow</code></td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

In [ ]:
%%sql 
CREATE TABLE IOTDEMO.localmap (
  id bigint NOT NULL,
  imageHeight double DEFAULT NULL,
  imageUnit varchar(255) DEFAULT NULL,
  imageWidth double DEFAULT NULL,
  latOrigin double DEFAULT NULL,
  latmax double DEFAULT NULL,
  latmin double DEFAULT NULL,
  lonOrigin double DEFAULT NULL,
  lonmax double DEFAULT NULL,
  lonmin double DEFAULT NULL,
  primary key(id)
);

CREATE TABLE IOTDEMO.zones (
  id bigint NOT NULL,
   name varchar(255) DEFAULT NULL,
  group_id bigint NOT NULL,
  PRIMARY KEY (id)
);
CREATE TABLE IOTDEMO.zonegroup (
  id bigint NOT NULL,
  description varchar(255) DEFAULT NULL,
  name varchar(255) DEFAULT NULL,
  group_id bigint NOT NULL,
  PRIMARY KEY (id)
);

CREATE TABLE IOTDEMO.STORE(
	ID BIGINT,
	NAME VARCHAR(50),
	ZONE_ID BIGINT,
	PRIMARY KEY(ID)
);

CREATE TABLE IOTDEMO.WAREHOUSE(
	ID BIGINT,
	NAME VARCHAR(50),
	ZONE_ID BIGINT,
	PRIMARY KEY(ID)
);

CREATE TABLE IOTDEMO.LOCATIONS(
	ID BIGINT,
	STORE_ID BIGINT,
	NAME VARCHAR(50),
	ZONEID BIGINT,
	PRIMARY KEY(ID)
);


CREATE TABLE IOTDEMO.ITEMS (
	ID BIGINT,
	SERIALNUMBER VARCHAR(50),
	NAME VARCHAR(50),
	CREATEDTIME TIMESTAMP,
	GROUP_ID BIGINT,
	THINGTYPE_ID BIGINT,
	UPCCODE VARCHAR(255),
	UPCCODE_TIME TIMESTAMP,
	PRIMARY KEY(ID)
);

CREATE TABLE IOTDEMO.ITEMFLOW (
	ID         BIGINT,
	MODIFIEDTIME      TIMESTAMP,
	TIME         TIMESTAMP,
	SOURCE         VARCHAR(255),
	zone_id         BIGINT,
	ZONECHANGECOUNTER         DECIMAL(18,5),
	ZONECHANGECOUNTER_TIME         TIMESTAMP,
	warehouse_id         BIGINT,
	warehouse_id_time         TIMESTAMP,
	store_id         BIGINT,
	store_id_time         TIMESTAMP,
	LOCATIONXYZ_X         DECIMAL(18,5),
	LOCATIONXYZ_Y         DECIMAL(18,5),
	LOCATIONXYZ_Z         DECIMAL(18,5),
	LOCATIONXYZ_TIME         TIMESTAMP,
	POS_TIME         TIMESTAMP,
	DRESSINGROOM_TIME         TIMESTAMP,
	DOOREVENT_TIME         TIMESTAMP,
	PRIMARY KEY(ID, TIME)
);

Now we can populate our supporting tables with data that Splice Machine has stored as CSV file in a public S3 bucket:

In [ ]:
%%sql 

call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','ZONES', null, 's3a://splice-demo/iot/static_data/zones.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','ZONEGROUP', null, 's3a://splice-demo/iot/static_data/zonegroup.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','WAREHOUSE', null, 's3a://splice-demo/iot/static_data/warehouse.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','STORE', null, 's3a://splice-demo/iot/static_data/stores.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','LOCATIONS', null, 's3a://splice-demo/iot/static_data/location.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','LOCALMAP', null, 's3a://splice-demo/iot/static_data/localmap.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);
call SYSCS_UTIL.IMPORT_DATA('IOTDEMO','ITEMS', null, 's3a://splice-demo/iot/static_data/items.csv',',', null, 'yyyy-MM-dd HH:mm:ss', null, null, -1, '/tmp', true, null);

## Where to Go Next

Now continue on to the next step in creating our IoT demo program: [Setting up a Kafka Queue](../IoT/4.2.3%20Kafka.ipynb)